
  <div id="login">
       <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>
        <span class="fontawesome-user"></span>
        <%= f.email_field :email, autofocus: true, id:"user", placeholder:'email' %>
        <span class="fontawesome-lock"></span>
        <%= f.password_field :password, autocomplete: "off", id:"pass", placeholder:'password' %>
        <span class="fontawesome-lock"></span>
        <%= f.password_field :password_confirmation, autocomplete: "off", id:"pass", placeholder:'confirm password' %>
        <%= f.submit "Sign up" %>
        <div class="container-fluid text-center">
          <%= link_to "Sign in", new_user_session_path, class:"up_link" %>
        </div>
      </div>
    <% end %>
  </div>

