
    div class="form_income"
      div class="col-md-4 col-md-offset-4"
          = simple_form_for @cash, remote: true  do |f| 
            = f.input :value, label: false , placeholder: 'cash'
            = f.hidden_field :category_id, id: 'hidden_category', value: @category.id
            = f.button :submit , "Set cash" 