
- if !@incomes.empty?
  div class="table-title"
    div class="container-fluid"
      table class="table-fill"
        thead
        tr
          th class="text-left" Income title
          th class="text-left" Income value
          th class="text-left" 
            span Date:
            = form_tag("/incomes", method: 'get', id:"date_form",  remote: :true, style:"display: inline;")
              = select_tag(:date, options_for_select([['Last', 'DESC'],['Old', 'ASC']],@direction), id:"income_date_direction")
        tbody class="table-hover"
        - @incomes.each do |income|
          tr class="income_row"
            td class="text-left" = income.title
            td class="text-left" = income.value.to_s + ' $'
            td class="text-left" = income.date

javascript:

  $('#income_date_direction').change(function(e) {
    $('#date_form').submit();
  });


