div class="container-fluid"
  = render "shared/flash_errors"
  div class="container-fluid text-center"
    h3 Create income
  div class="form_income"
    div class="col-md-4 col-md-offset-4"
      = simple_form_for @income, remote: true do |f| 
        = f.input :title, label: false , placeholder: 'Title'
        = f.input :value, label: false , placeholder: 'Value'
        = f.input :date, label: false , order: [:day, :month, :year], placeholder:'Income date'
        = f.button :submit , "Create income"

div id="income_table"
  = render "incomes/income_table"

dev class="col-md-12 text-center"
  = paginate @incomes 
