
- if !@categories.empty?
  div class="table-title"
    div class="container-fluid"
      table class="table-fill"
        thead
        tr
          th class="text-left" Categories
          th class="text-left" Planned costs
          th class="text-left" Expenses
        tbody class="table-hover"
        - @categories.each do |category|
          tr
            td class="text-left" = link_to category.title, category_path(category.id)
            td class="text-left" = category.cash.value.to_s + ' $' if category.cash
            td class="text-left" = calculate_expenses(category).to_s + ' $'


dev class="col-md-12 text-center"
  = paginate @categories 