div class="container-fluid"
  div class="col-md-4"
    div class="container text-center main_panel"
      div class="panel panel-primary"
        div class="panel-heading" All Cash
        div class="panel-body" 
          = all_cash_incomes.to_s + ' $' 
  div class="col-md-4"
    div class="container text-center main_panel"
      div class="panel panel-warning"
        div class="panel-heading" Unplanned money
        div class="panel-body" = check_balance
  div class="col-md-4"
    div class="container text-center main_panel"
      div class="panel panel-success"
        div class="panel-heading" Planned money
        div class="panel-body" = all_cash.to_s + ' $'

div id="main_categories_table"
  = render "pages/main_categories_table"
