  <div id="login">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>
        <span class="fontawesome-user"></span>
        <%= f.email_field :email, autofocus: true, id:"user", placeholder:'email' %>
        <span class="fontawesome-lock"></span>
        <%= f.password_field :password, autocomplete: "off", id:"pass", placeholder:'password' %>

        <%= f.submit "Sign in", id:"submit_login" %>
        <div class="container-fluid text-center">
          <%= link_to "Sign up", new_user_registration_path, class:"up_link" %>
        </div>
      </div>
    <% end %>
  </div>

