// Place all the styles related to the Categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.links_inline{
  padding-left: 30px;
}

.form_links{
  color: gray;
  cursor: pointer;
  margin-bottom: 15px;
}