*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0
}

body {
  font-family: arial;
  font-size: 15px
}

a {
  text-decoration: none;
  color: #fff
}

#menu {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 220px;
  background: #4fdbe9;
  overflow: auto
}

#content {
  padding: 20px 30px
}

#menubar {
  display: none;
}

.logo {
  width: 100%;
  padding: 20px 0;
  text-align: center
}

.logo a {
  font-size: 21px;
}

.side {}

.side li {
  position: relative;
  list-style: none;
  display: block
}

.side li a {
  font: bold 14px arial;
  text-align: center;
  letter-spacing: 1px;
  line-height: 50px;
  color: #146422;
  display: block;
  text-shadow: none
}

.side li a:hover,
.side li a.active {
  color: #fff;
  background: #00BFC7
}

@media only screen and (min-width:581px) {
  #menu {
    margin-left: 0!important
  }
  #main {
    margin-left: 220px!important
  }
}

@media only screen and (max-width:580px) {
  #menu-icon {
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -10px;
    margin-left: 10px;
    cursor: pointer;
  }
  #menu-icon.active {
    margin-top: -12px;
  }
  #menu-icon span {
    border: 2px solid #4FDBE9;
    width: 26px;
    margin-bottom: 4px;
    display: block;
    -webkit-transition: transform .2s;
    transition: transform .2s
  }
  #menu-icon.active .first {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    margin-top: 10px
  }
  #menu-icon.active .second {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    position: relative;
    top: -8px;
  }
  #menu-icon.active .third {
    display: none
  }
  #content {
    padding: 60px 20px 30px
  }
  #menubar {
    width: 100%;
    height: 50px;
    background: #444;
    color: #fff;
    padding: 15px;
    position: fixed;
    display: block;
  }
  #menu {
    margin-left: -220px;
  }
  #main {
    margin-left: 0
  }
}