
- if !@categories.empty?
  div class="table-title"
    div class="container-fluid"
      table class="table-fill"
        thead
        tr
          th class="text-left" Categories
          th 
        tbody class="table-hover"
        - @categories.each do |category|
          tr class="category_row"
            td class="text-left" = category.title
            td class="text-left" 
              = link_to "View", category_path(category.id), class:"links_inline"
              = link_to "Delete", category_path(category.id), :method => :delete, :confirm => "Are you sure?", :remote => true, class:"links_inline"


dev class="col-md-12 text-center"
  = paginate @categories 