div class="container-fluid"
  = render "shared/flash_errors"
  div class="container-fluid text-center"
    h3 Create Category
  div class="form_income"
    div class="col-md-4 col-md-offset-4"
      = simple_form_for @category, remote: true do |f| 
        = f.input :title, label: false , placeholder: 'Title'
        = f.button :submit 

div id="categories_table"
  = render "categories/categories_table"




