div class="container-fluid text-center"
  = render "shared/flash_errors"
  h2 = @category.title 
  div id="rename_form" class="form_links" onclick="showCashForm('category_name');" Rename category
  div id="category_name" style="display:none;"
    div class="form_income"
      div class="col-md-4 col-md-offset-4"
        = render "categories/cash_update_form"


div class="container-fluid text-center"
  -if @cash.value == nil
    h3 Planning money for this category, please!
    = render "cash/cash_form"
  -else
    h3 = "Planning "+ @cash.value.to_s + " $"
    div class="form_links" onclick="showCashForm('cash_form');" Change cash value
    div id="cash_form" style="display:none;"
      = render "cash/cash_form"

-if @cash.value
  div class="container-fluid text-center"
    h3 Make spending!
    = render "expenses/expense_form"

div id="income_table"
  = render "expenses/expenses_table"
