- if !@expenses.empty?
  div class="table-title"
    div class="container-fluid"
      table class="table-fill"
        thead
        tr
          th class="text-left" Expense value
          th class="text-left" Expense category
          th class="text-left" Expense date
        tbody class="table-hover"
        - @expenses.each do |expense|
          tr
            td class="text-left rows" = expense.value.to_s + ' $'
            td class="text-left rows" = Category.find(expense.category_id).title
            td class="text-left rows" = expense.date