    div class="form_income"
      div class="col-md-4 col-md-offset-4"
          = simple_form_for @expense, remote: true  do |f| 
            = f.input :value, label: false , placeholder: 'Expense value!'
            = f.input :date, label: false , order: [:day, :month, :year], placeholder:'Expense date'
            = f.hidden_field :category_id, value: @category.id
            = f.hidden_field :cash_id, value: @cash.id
            = f.button :submit , "Save expense" 