- if !@expenses.empty?
  div class="table-title"
    div class="container-fluid"
      table class="table-fill"
        thead
        tr
          th class="text-left" Expense value
          th class="text-left" Expense date
        tbody class="table-hover"
        - @expenses.each do |expense|
          tr class="expense_row"
            td class="text-left" = expense.value.to_s + ' $'
            td class="text-left" = expense.date