div class="form_income"
  = form_tag("/expenses", method: 'get', id:"category_select_form",  remote: :true)
    = select_tag(:category_id, options_from_collection_for_select(@categories, :id, :title), id:"expense_category")



javascript:

  $('#expense_category').change(function(e) {
    $('#category_select_form').submit();
  });