div class="container-fluid text-center"
  h3 Select Category
  = render "expenses/select_category"

div id="expense_table"
  = render "expenses/expenses_index_table"

  div class="col-md-12 text-center"
    = paginate @expenses 





