header id="menu"
  div class="logo"
    a href="" Budget
  nav
    ul class="side"
      li 
        = link_to "Main", root_path 
      li 
        = link_to "Incomes", incomes_path 
      li
        = link_to "Categorias", categories_path
      li
        = link_to "Expenses", expenses_path
      li 
        = link_to "Sign out", destroy_user_session_path , method: :delete