<!DOCTYPE html>
<html>
  <head>
    <title>Budget</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,700">
  </head>

  <body>

    <% if current_user.present?  %>
      <%= render "layouts/menu_bar" %>
      <div id="main">
        <section id="content">
          <%= yield %>
        </section>
      </div>
    <% else %>
      <%= yield %>
    <% end %>
  </body>
</html>
